body {
    font-family: Helvetica, sans-serif;
    background-color: lavender;
    letter-spacing: 1px;
}

#navbar {
    background-color: burlywood;
    height: 60px;
    width: 100%;
    font-size: 20px;
}

nav > a {
    display: inline;
    margin-left: 165px;
    margin-right: 100px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
}

#home {
    height: 300px;
    background-color: cadetblue;
    margin-top: -42px;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
}

#about {
    height: 290px;
    text-align: center;
}

.intro-1 {
    margin: 50px;
    font-size: 24px;
}

img {
    width: 175px;
    height: 175px;
    float: left;
    padding-left: 100px;
}

h2, h3 {
    font-size: 25px;
text-align: center;
}

#skills {
    background-color: lightblue;
    text-align: center;
}

.skills-intro {
    padding-top: 40px;
}

.skills {
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact {
    text-align: center;
}

li {
    list-style: none;
    font-size: 23px;
    letter-spacing: 2px;
}

.twitter-link, .instagram-link, .linkedin-link, .github-link {
display: inline;
background-color: #ffffff;
padding: 10px;
border-radius: 10px;
width: 50%;
}

form > input {
font-size: 20px;
text-align: left;
padding: 10px;
width: 50%;
}

textarea {
    width: 50%;
    font-size: 20px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: grey;
    width: 25%;
    font-size: 20px;
    color: #ffffff;
}

.contact-intro {
    font-size: 22px;
    padding-top: 25px;
}

#contact a {
    font-size: 25px;
    text-decoration: none;
}

hr {
    margin-top: 50px;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    h2, h3 {
        font-size: 20px;
    }
    #navbar a {
        margin: auto;
        padding: 17.5px;
    }
    #about {
        height: 100%;
        text-align: center;
    }
    .intro-1 {
        font-size: 19px;
    }
    .skills li {
        font-size: 16px;
    }
    .skills {
        height: 320px;
    }
    nav > a {
        display: inline;
        margin-left: 80px;
        margin-right: 45px;
        font-size: 16px;
}
#contact a {
    font-size: 18px;
}
#contact div {
    padding: 5px;
    margin-bottom: 5px;
}
form > input, textarea {
    font-size: 15px;
}
footer {
    font-size: 15px;
}
}

@media only screen and (min-width: 601px) {
    h1 {
        font-size: 30px;
    }
    h2, h3 {
        font-size: 20px;
    }
    #navbar a {
        margin: 27.5px;
        padding: 22px;
    }
    #about {
        height: 100%;
        text-align: center;
    }
    .intro-1 {
        font-size: 19px;
    }
    .skills {
        height: 350px;
    }
    .skills li {
        font-size: 20px;
    }
    nav > a {
        display: inline;
        margin-left: 80px;
        margin-right: 45px;
        font-size: 17.5px;
}
#contact a {
    font-size: 20px;
}
#contact div {
    padding: 12.5px;
    margin-bottom: 12.5px;
}
form > input, textarea {
    font-size: 18px;
}
footer {
    font-size: 15px;
}
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 35px;
    }
    h2, h3 {
        font-size: 25px;
    }
    #navbar a {
        margin: 27.5px;
        padding: 23px;
    }
    #about {
        height: 100%;
        text-align: center;
    }
    .intro-1 {
        font-size: 22px;
    }
    .skills li {
        font-size: 20.5px;
    }
    nav > a {
        display: inline;
        margin-left: 86px;
        margin-right: 45px;
        font-size: 22.5px;
}
.contact-intro {
    font-size: 25px;
}
#contact div {
    padding: 15.5px;
    margin-bottom: 15.5px;
}
#contact a {
    font-size: 23.5px;
}
form > input, textarea {
    font-size: 19px;
}
footer {
    font-size: 15px;
}
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2, h3 {
        font-size: 30px;
    }
    #navbar a {
        margin: 42.5px;
        padding: 37.5px;
    }
    #about {
        height: 100%;
        text-align: center;
    }
    .intro-1 {
        font-size: 24px;
    }
    .skills li {
        font-size: 22px;
    }
    nav > a {
        display: inline;
        margin-left: 165px;
        margin-right: 100px;
        font-size: 26.5px;
}
#contact a {
    font-size: 26px;
}
#contact div {
    padding: 19px;
    margin-bottom: 19px;
}
form > input, textarea {
    font-size: 20px;
}
footer {
    font-size: 20px;
}
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 50px;
    }
    h2, h3 {
        font-size: 25px;
    }
    #navbar a {
        margin: 50px;
        padding: 45px;
    }
    #about {
        height: 100%;
        text-align: center;
    }
    .intro-1 {
        font-size: 24px;
    }
    .skills li {
        font-size: 23px;
    }
    nav > a {
        display: inline;
        margin-left: 165px;
        margin-right: 100px;
        font-size: 32.5px;
}
#contact a {
    font-size: 29px;
}
#contact div {
    padding: 22.5px;
    margin-bottom: 22.5px;
}
form > input, textarea {
    font-size: 22.5px;
}
footer {
    font-size: 22px;
}
}